{% extends "base.html" %}
{% block title %}tick tick BOOM{% endblock %}
{% block head %}


<body >

<div class="container flex">
    <div class="row"  style="margin: 30px">
        <div class="col-sm-12">
        <div class="card my-auto">

<div class="card-body text-center">
  <h1 class="display-4">tick tick BOOM!
  </h1>
    <div style="padding:5em">
    <h6>Stop the clock<br>
Take time out<br>
Time to regroup<br>
Before you lose the bout<br>
Freeze the frame<br>
Back it up<br>
Time to refocus<br>
Before they wrap it up<br></h6>
        </div>
    <h3>This is a countdown tracking for keeping track of important events. Just add a date & Start a countdown!</h3>

    <a style="text-decoration: none;"href="\addTick"><button class="btn btn-secondary btn-lg btn-block" >create tick</button></a>

</div>
</div>
</div>
    </div>
</div>
{% endblock %}
