<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>

console.log({{tickInfo.year}},{{tickInfo.month}},{{tickInfo.day}});
    var countDownDate = new Date({{tickInfo.year}},{{tickInfo.month}},{{tickInfo.day}}).getTime();
    var x = setInterval(function() {
    var now = new Date().getTime();
    var d = new Date(countDownDate)
    console.log(d.toString());
      // Find the distance between now and the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Output the result in an element with id="countdown"
      document.getElementById("countdown").innerHTML = days + " days, " + hours + " hours, "
      + minutes + " minutes y " + seconds + " seconds ";

      // If the count down is over, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("countdown").innerHTML = "EXPIRED";
      }
    }, 1000);
    </script>
<body>
<p id="countdown"></p>
</body>
</html>